*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.containerTop{
    height: calc(100vh - 80px);
    background-color: #141922;
    display: flex;
}

.sidebar{
    width: 40px;
    height: 100%;
    background-color: #000000;
    flex-shrink: 0;
}
.mainContent{
    width: 100%;
    flex-grow: 1;
}

.mainContentBtn{
    background-color: #080B11;
    display: flex;
    justify-content: flex-end;
    padding: 20px 3px;
}

.mainContentBtn__btn{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 10px;
    padding: 9px 28px;
}

.mainContentContainer{
    height: calc(100% - 73px);
    padding: 0 18px;
    overflow: auto;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.navigationLink{
    text-decoration: none;
    color: #878787;
    font-size: 10px;
    padding: 15px 8px;
}

.sectionTitle{
    color: white;
    font-size: 18px;
}

.sectionSubtitle{
    color: #878787;
    font-size: 9px;
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.card{
    width: calc(100% / 2 - 5px);
    padding: 4px;
}

.cardImg__img{
    width: 100%;
    object-fit: contain;
}

.cardImg__img--artisti{
    border-radius: 50%;
}

.cardText__title{
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 8px 0;
}

.cardText__subtitle{
    color: #878787;
    font-size: 7px;
    text-align: center;
}




.containerBottom{
    height: 80px;
    background-color: #282828;
}