*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.containerTop{
    height: calc(100vh - 70px);
    background-color: #141922;
    display: flex;
    overflow: auto;
}

.sidebar{
    width: 40px;
    height: 100%;
    background-color: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 1px 6px;
}

.sidebar__top{
    flex-shrink: 0;
}

.sidebar__top__navList{
    padding: 5px 0;
}

.logoSmall{
    filter: brightness(2);
}

.sidebar__middle{
    flex-grow: 1;
    overflow: auto;
}

.sidebar__bottom{
    flex-shrink: 0;
}

.sidebar__bottom__list__item__img--download{
    padding: 5px;
}

.sidebar__bottom__list__item__img--profile{
    width: 28px;
    height: 28px;
    background-color: #c1c1c1;
    border-radius: 50%;
}

.mainContent{
    flex-grow: 1;
}

.mainContentBtn{
    background-color: #080B11;
    display: flex;
    justify-content: flex-end;
    padding: 25px 5px;
}

.mainContentBtn__btn{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 14px;
    padding: 9px 28px;
}

.mainContentContainer{
    height: calc(100% - 88px);
    padding: 0 18px;
    overflow: auto;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.navigation__item{
    padding: 15px 6px;
}

.navigationLink{
    font-size: 12px;
    font-weight: 600;
}

.navigation__highlighted{
    position: relative;
}

.navigation__highlighted::after{
    content: "";
    width: 40%;
    height: 3px;
    background: yellowgreen;
    position: absolute;
    top: 70%;
    left: 30%;
}
.sidebar__top__navListHighlighted__link{
    filter: brightness(1);
}

.sectionTitle{
    color: white;
    font-size: 20px;
}

.sectionSubtitle{
    color: #878787;
    font-size: 11px;
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}

.card{
    width: calc(100% / 2);
    padding: 5px;
}

.cardImg__img{
    width: 100%;
    object-fit: contain;
}

.cardImg__img--artisti{
    border-radius: 50%;
}

.cardText__title{
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 8px 0;
}

.cardText__subtitle{
    color: #878787;
    font-size: 9px;
    text-align: center;
}

.containerBottom{
    height: 70px;
    background-color: #282828;
}

.containerPlayingNow{
    height: 100%;
    display: flex;
    align-items: center;
}

.playingNow,
.extraControls{
    width: 30%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 4px;
}

.playingNow__containerImg__img{
    max-width: 40px;
    padding: 0 8px;
}

.playingNow__titles{
    padding: 0 5px;
}

.playingNow__titles__singer{
    color: white;
    font-size: 10px;
}

.playingNow__titles__song{
    color: #878787;
    font-size: 8px;
}

.playingNow__icons{
    color: #878787;
    font-size: 13px;
    padding: 15px;
}

.playerControls{
    width: 40%;
    min-height: 20px;
    text-align: center;
}

.playerControls__buttons__icons{
    color: white;
    padding: 8px;
    font-size: 14px;
    vertical-align: middle;
}

.playerControls__buttons__icons--play{
    font-size: 29px;
    padding: 3px 15px;
}

.playerControls__playbackBar{
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.playerControls__playbackBar__progressTime,
.playerControls__playbackBar__playbackDuration{
    font-size: 10px;
    color: white;
    flex-shrink: 0;
    padding: 0 4px;
}

.extraControls__icon{
    color: white;
    padding: 4px;
    filter: brightness(2);
}


@media screen and (max-width: 567px){

    .logoLarge{
        display: none;
    }

    .hiddenOnMobile{
        display: none;
    }
}

@media screen and (min-width: 568px) {
    .sidebar{
        width: 250px;
        padding: 0 17px;
    }
    
    .logoSmall{
        display: none;
    }

    .sidebar__top__navList__item{
        padding: 5px 0;
    }
    
    .sidebar__top__navListHighlighted{
        position: relative;
    }

    .sidebar__top__navListHighlighted::after{
        content: "";
        width: 3px;
        position: absolute;
        left: -17px;
        height: 75%;
        background: yellowgreen;
    }

    .sidebar__top__navList__item__img{
        width: 25px;
        vertical-align: middle;
    }

    .sidebar__top__navList__item__text{
        font-size: 13px;
        font-weight: 600;
        padding: 0 5px;
    }

    .logoLarge{
        width: 150px;
        padding: 13px 0;
        filter: brightness(2);
    }

    .playlist{
        color: white;
        font-size: 14px;
        padding: 8px 0;
        flex-shrink: 0;
    }

    .playlist__add{
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 700;
    }

    .playlist__plusSign{
        color: white;
        font-size: 40px;
        vertical-align: middle;
        padding-right: 5px;
    }

    .playlist__list{
        flex-grow: 1;
        overflow: auto;
    }

    .playlist__list__item{
        font-weight: 600;
        font-size: 13px;
        padding: 8px 0;
    }


    .navigation{
        padding-bottom: 20px;
    }

    .navigationLink{
        font-size: 15px;
        padding: 17px 10px;
    }

    .sidebar__bottom__list__item--download{
        border-bottom: 1px solid #878787;
    }

    .sidebar__bottom__list__item__img--download {
        width: 25px;
        vertical-align: top;
        padding: 3px ​8px 8px 0;
    }

    .sidebar__bottom__list__item__text--download{
        font-size: 14px;
        font-weight: 600;
    }

    .sidebar__bottom__list__item--profile{
        padding: 10px 0;
    }

    .sidebar__bottom__list__item__text--profile{
        color: white;
        font-weight: 600;
    }
}




/* Utilities */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    filter: brightness(0.5);
}

a:hover{
    filter: brightness(2);
}

.progressiveBarStyle{
    height: 4px;
    flex-grow: 1;
    background: #878787;
    border-radius: 15px;
    position: relative;
}

.progressiveBarStyle::after{
    content: "";
    width: 15%;
    height: 4px;
    background: white;
    position: absolute;
    border-radius: 15px;
    left: 0px;
}
